.Weather {
  background-color: #272932;
  border-color: #f1f2eb;
  border-radius: 10px;
  color: #fff;
  padding: 30px;
}

.Weather .CitySearch input {
  background-color: #272932;
  border: 2px solid #1c7293;
  border-radius: 5px;
  color: #fff;
  margin-right: 5px;
  padding: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}
